.about-container {
  flex-grow: 1;

  .about-section {
    max-width: 900px;
    padding: 3rem 2rem;
    margin: auto;
  }

  .apps-timeline {
    margin-top: 2rem;

    .ant-timeline-item-head {
      background: #f0f2f5;
    }
  }
}