.board-container {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 48px - 64px);

  .board-view {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 80px;

    .board-section-title {
      margin-top: 2rem;
      text-align: center;
      font-weight: normal;
      color: @black;
    }
  }

  .board-main-image {
    display: block;
    margin: 2rem auto;
    max-height: 200px;
    max-width: 100%;
    min-width: 200px;
  }
}