.add-component-button {
  margin: 1rem;
}

.single-component-container {
  width: 100%;
  max-width: 600px;
  padding: 2rem;

  @media(max-width: @mobile-display-width) {
    padding: 1rem;
  }
}

.all-components-container, .single-component-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;

  @media(min-width: @tablet-display-width) {
    padding-bottom: 3rem;
  }

  .new-component-form-container {
    max-width: 40rem;
    margin: auto;
    padding: 1rem;
  }

  .component-details-label {
    display: block;
    margin: 1.5rem 0 .8rem 0;
  }

  .board-select {
    width: 100%;

    ul > li {
      height: auto;
      width: 100%;
      padding: .4rem 1rem;
    }

    .ant-select-selection-selected-value > img {
      height: 1rem;
      width: auto;
    }
  }

  .component-image {
    display: block;
    max-height: 20rem;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .delete-image-icon {
    display: block;
    width: fit-content;
    position: relative;
    top: 2rem;
    left: 1rem;
    font-size: 1.2rem
  }

  .component-details-project-list {
    .ant-collapse-header {
      display: flex;
      align-items: center;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-content {
      background-color: .bgr-opacity-5(@info-color)[@result];
      padding: 1rem;

      @media (max-width: @mobile-display-width) {
        padding: .5rem;
      }
    }

    .list-project-title {
      flex-grow: 1;
      display: flex;
      align-items: center;

      a {
        padding-right: 1rem;
      }

      .list-project-name {
        margin-bottom: 0;
      }
    }

    .list-project-title-extras {
      padding: 0 .5rem;
    }

    .project-details-icon {
      color: @highlight-color;
      opacity: .8;
      margin-right: 1rem;
    }
  }
}

.board-select-image {
  width: 3rem;
  margin-right: 1rem;
}

.components-container {
  .ant-collapse-header {
    display: flex;
    align-items: center;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-content {
    background-color: .bgr-opacity-5(@info-color)[@result];
    padding: 1rem;

    @media (max-width: @mobile-display-width) {
      padding: .5rem;
    }
  }

  .list-component-title {
    flex-grow: 1;
    display: flex;
    align-items: center;

    a {
      padding-right: 1rem;
    }

    .list-project-name {
      margin-bottom: 0;
    }
  }

  .list-component-title-extras {
    padding: 0 .5rem;
  }


  .component-image-icon {
    height: 1.5rem;
    margin-right: 1rem;
    max-width: 3rem;
  }

  .component-image-upload {
    width: 4rem;
    margin-right: .5rem;
  }
}
