/* Colours */

.blue-background {
  background: @primary-color;
}

.light-grey-background {
  background: @info-color;
}

.blue-border {
  border-color: @primary-color;
}

.light-grey-border {
  border-color: @info-color;
}

/* Containers */

.app-header {
  align-items: center;
  display: flex;

  .logo {
    width: 3rem;
    height: 90%;
  }
}

.app-title {
  color: @black;
  display: inline;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 1.5rem;
}

.board-col {
  @media (min-width: 769px) {
    margin: 0 1rem;
    padding: 2rem;
  }
  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.main-page-card.ant-card {
  height: 350px;
  margin: 2rem auto;
  padding: 2rem;
  width: 200px;
  @media (min-width: 768px) {
    margin-top: 6rem;
  }
}

.main-page-card > .ant-card-cover {
  opacity: .6;
}

.page-content {
  display: flex;
  min-height: calc(100vh - 64px);
}

.top-level-menu {
  padding: 2rem 0 80px 0;
  width: auto;
}

.footer-container {
  max-width: 700px;
  margin: auto;
  padding: 3rem 0 1rem 0;

  .ant-typography,
  a {
    color: @white;
  }

  h4 {
    font-size: 1rem;
  }

  .contacts-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 2rem;

    svg {
      font-size: 1.5rem;
    }
  }

  img {
    max-width: 100%;
    margin-left: -.8rem;
  }

  .copyright-container {
    text-align: center;
    padding: 2rem 0 2rem 0;
  }
}

/* Visuals */

.board-image-upload {
  display: block;
  margin: 2rem auto;
  max-height: fit-content;
}

.board-image-upload-overlay {
  .board-image-upload();
  position: absolute;
  top: 0;
  opacity: 0;

  &:hover {
    transition: opacity ease-out 800ms;
    opacity: .8;
  }
}

.board-main-image {
  display: block;
  margin: 2rem auto;
  max-height: 200px;
  max-width: 100%;
  min-width: 200px;
}

.component-image {
  display: block;
  margin-left: auto;
  max-height: 150px;
}

.component-image-icon {
  height: 1.5rem;
  margin-right: 1rem;
}

.empty-full-page {
  margin: auto;
}

.empty-icon svg {
  color: @highlight-color;
  height: 3rem;
  opacity: .6;
  width: 3rem;
}

/* Controls */

.button-right {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

/* Overrides */

.ant-alert {
  height: fit-content;
  margin: auto;
}

.ant-layout-footer {
  background: @info-color;
  color: @white;
}

.ant-layout-header {
  background: @white;
  box-shadow: @shadow-large;
  z-index: 1000;
}

.top-level-menu .ant-menu-item {
  padding-right: 5rem;
}

.page-content .ant-row-flex {
  width: 100%;
}

.ant-steps-horizontal {
  margin: 1rem 0 2rem 0;
}

.ant-steps-item-title {
  font-size: .8rem;
}

.ant-tabs-tabpane {
  padding: 2rem;
}

.ant-tabs-nav {
  width: 100%;
}

.ant-tabs-nav > div {
  display: flex;
}

.ant-tabs-tab {
  flex-grow: 1;
}

.ant-tooltip-inner {
  background-color: @black;
  color: @white;
}
