.blue-background {
  background: @primary-color;
}

.light-grey-background {
  background: @info-color;
}

.blue-border {
  border-color: @primary-color;
}

.light-grey-border {
  border-color: @info-color;
}


.ant-layout-header {
  background: @white;
  box-shadow: @shadow-large;
}
