.main-page-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;

  a {
    @media (max-width: @mobile-display-width) {
      width: 100%;
      padding: 1rem;
    }
  }

  .ant-card {
    margin: 4rem;
    width: 10rem;

    @media (max-width: @mobile-display-width) {
      margin: 0;
      width: 100%;
    }

    .ant-card-cover {
      height: 10rem;
      display: flex;
      align-items: center;
    }

    img {
      height: 6.25rem;
    }

    .ant-card-body {
      text-align: center;
    }
  }
}
