.public-projects-container {
  flex-grow: 1;

  .public-projects-section {
    min-height: calc(100vh - 64px);
    max-width: 900px;
    padding: 3rem 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
