@black: #46454C;            // Dark Slate Gray
@highlight-color: #A6905B;  // Dark Khaki
@info-color: #9FA0B3;       // Light Slate Grey
@primary-color: #71A4EA;    // Cornflower Blue
@white: #FBFBFB;

@shadow-large: 0 8px 20px #46454C30;
